In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
game_detail = "../dataset/game_detail_v2.json"
user_friend = "../dataset/user_friend_list.json"
user_idx = "../dataset/user_idx.json"
user_owned_games = "../dataset/user_owned_games.json"
user_recently_played_games = "../dataset/user_recently_played_games.json"
user_summary = "../dataset/user_summary.json"

# 1. Convert json to dataframe

In [3]:
game_detail_df = pd.read_json(game_detail, lines = True)
user_frined_df = pd.read_json(user_friend, lines = True)
user_idx_df = pd.read_json(user_idx, lines = True)
user_owned_games_df = pd.read_json(user_owned_games, lines = True)
user_recent_df = pd.read_json(user_recently_played_games, lines = True)
user_summary_df  = pd.read_json(user_summary, lines = True)

In [4]:
print("user_idx columns         :", user_idx_df.columns.values)
print("user_owned_games columns :", user_owned_games_df.columns.values)
print("user_recent_df columns   :", user_recent_df.columns.values)
print("user_summary columns     :", user_summary_df.columns.values)
print("game_detail_df columns   :", game_detail_df.columns.values)

user_idx columns         : ['user_idx' 'user_id']
user_owned_games columns : ['steamid' 'game_count' 'games']
user_recent_df columns   : ['steamid' 'total_count' 'games']
user_summary columns     : ['steamid' 'primaryclanid' 'realname' 'personaname' 'personastate'
 'personastateflags' 'communityvisibilitystate' 'avatarhash'
 'profilestate' 'profileurl' 'loccityid' 'timecreated' 'avatar'
 'locstatecode' 'commentpermission' 'avatarfull' 'avatarmedium'
 'loccountrycode' 'gameextrainfo' 'gameid' 'gameserverip'
 'gameserversteamid' 'lobbysteamid' 'lastlogoff']
game_detail_df columns   : ['steam_appid' 'achievements' 'price_overview' 'demos'
 'detailed_description' 'screenshots' 'genres' 'required_age'
 'about_the_game' 'short_description' 'developers' 'type'
 'supported_languages' 'website' 'publishers' 'pc_requirements'
 'recommendations' 'is_free' 'legal_notice' 'background'
 'controller_support' 'packages' 'categories' 'support_info'
 'content_descriptors' 'name' 'platforms' 'package_groups' 'release_date'
 'movies' 'linux_requirements' 'mac_requirements' 'header_image'
 'metacritic' 'dlc' 'reviews' 'ext_user_account_notice' 'drm_notice']

# 2. Preprocessing

## (1) convert user id to index

In [76]:
user_game_df = user_idx_df

In [77]:
user_owned_games_df.head(100)

,steamid,game_count,games
0,76561197960434624,1047,"[{'playtime_linux_forever': 0, 'playtime_forev..."
1,76561198015158496,[0],[]
2,76561197972495328,[0],[]
3,76561198028573552,[0],[]
4,76561197970323424,[0],[]
...,...,...,...
13037,76561198950450384,[0],[]
13038,76561198974830112,[0],[]
13039,76561198985708688,[0],[]
13040,76561198993673408,[0],[]
13041,76561199069509536,[0],[]

## (2) make data frame of user and playtime of each game

In [78]:
import time
start = time.time()
for idx, line in enumerate(open(user_owned_games, 'r')):
    if idx % 100 == 0:
        print("time elapsed : ", time.time() - start)
    temp = json.loads(line)
    temp_data = pd.json_normalize(temp["games"], max_level = 1)
    temp_idx = user_idx_df[user_idx_df.user_id==user_owned_games_df.steamid[idx]].index.values
#     print(user_owned_games_df.steamid[idx])
#     if (temp_data[""])
#     print(user_owned_games_df.steamid[idx])
    if(temp_idx.size == 0 or temp_data.size == 0):
        continue
    if(user_owned_games_df.game_count[idx] > 1000):
        continue ;
    for app_id, play_forever in zip(temp_data["appid"], temp_data["playtime_forever"]):
        if play_forever==0:
            continue
        if not app_id in user_game_df.columns:
            user_game_df[app_id] = 0
        user_game_df.loc[temp_idx, app_id] = play_forever
#    user_game_df.
#     user_game_df.insert(temp_idx[0],
#                     temp_data.appid,
#                     temp_data.playtime_forever)

time elapsed :  0.005989789962768555
time elapsed :  292.9777331352234
time elapsed :  967.260692358017
time elapsed :  1482.5300981998444
time elapsed :  1791.589519739151
time elapsed :  2037.4277067184448
time elapsed :  2166.429635286331
time elapsed :  2367.383463859558
time elapsed :  2494.3921513557434
time elapsed :  2626.9598417282104
time elapsed :  2773.313987970352
time elapsed :  2915.062644481659
time elapsed :  3048.533887386322
time elapsed :  3154.699777364731
time elapsed :  3278.240430355072
time elapsed :  3422.0797069072723
time elapsed :  3595.378268957138
time elapsed :  3690.423092842102
time elapsed :  3757.9937307834625
time elapsed :  3799.1244575977325
time elapsed :  3900.032322883606
time elapsed :  4004.0810050964355
time elapsed :  4125.309991121292
time elapsed :  4204.530155181885
time elapsed :  4347.822320461273
time elapsed :  4453.610534191132
time elapsed :  4576.439901351929
time elapsed :  4619.103406906128
time elapsed :  4673.624705553055
time elapsed :  4772.226445436478
time elapsed :  4918.69851732254
time elapsed :  4954.7626485824585
time elapsed :  4980.98421049118
time elapsed :  5103.9273686409
time elapsed :  5189.666827917099
time elapsed :  5251.931474208832
time elapsed :  5345.8672041893005
time elapsed :  5413.086651563644
time elapsed :  5540.945669412613
time elapsed :  5583.35510134697
time elapsed :  5686.888278961182
time elapsed :  5804.953912258148
time elapsed :  5871.913898944855
time elapsed :  5951.4944269657135
time elapsed :  6003.943326711655
time elapsed :  6027.425464630127
time elapsed :  6053.179740667343
time elapsed :  6093.642570257187
time elapsed :  6114.601955413818
time elapsed :  6145.397264242172
time elapsed :  6175.9057767391205
time elapsed :  6189.333885192871
time elapsed :  6218.211777687073
time elapsed :  6278.975015163422
time elapsed :  6296.771689176559
time elapsed :  6314.884728431702
time elapsed :  6366.2334151268005
time elapsed :  6386.666583061218
time elapsed :  6436.918039083481
time elapsed :  6526.99668097496
time elapsed :  6537.485934972763
time elapsed :  6561.612655639648
time elapsed :  6574.041846752167
time elapsed :  6575.181982755661
time elapsed :  6578.440849542618
time elapsed :  6587.273466587067
time elapsed :  6591.105669975281
time elapsed :  6595.255033016205
time elapsed :  6630.503349065781
time elapsed :  6633.658775568008
time elapsed :  6635.466925144196
time elapsed :  6644.134152650833
time elapsed :  6647.436892271042
time elapsed :  6649.361119270325
time elapsed :  6649.855824708939
time elapsed :  6653.412994623184
time elapsed :  6658.151845693588
time elapsed :  6658.440925121307
time elapsed :  6658.610997200012
time elapsed :  6663.537733078003
time elapsed :  6663.719247817993
time elapsed :  6663.879328966141
time elapsed :  6664.034555196762
time elapsed :  6664.18917632103
time elapsed :  6664.349792480469
time elapsed :  6664.495345592499
time elapsed :  6664.642946004868
time elapsed :  6664.792292833328
time elapsed :  6664.953859329224
time elapsed :  6665.104204177856
time elapsed :  6665.249331235886
time elapsed :  6665.395048618317
time elapsed :  6665.541699409485
time elapsed :  6665.71431183815
time elapsed :  6665.881835460663
time elapsed :  6666.0414083004
time elapsed :  6666.233275651932
time elapsed :  6666.381128787994
time elapsed :  6666.523747444153
time elapsed :  6666.66037940979
time elapsed :  6666.8096396923065
time elapsed :  6666.945278644562
time elapsed :  6667.08789229393
time elapsed :  6667.226526498795
time elapsed :  6667.371206998825
time elapsed :  6667.511831998825
time elapsed :  6667.654449701309
time elapsed :  6667.794071435928
time elapsed :  6667.955611944199
time elapsed :  6668.12220287323
time elapsed :  6668.27382683754
time elapsed :  6668.419734477997
time elapsed :  6668.56086564064
time elapsed :  6668.7020308971405
time elapsed :  6668.843128681183
time elapsed :  6668.991128444672
time elapsed :  6669.144703865051
time elapsed :  6669.39403796196
time elapsed :  6669.579569339752
time elapsed :  6669.7618408203125
time elapsed :  6669.915495157242
time elapsed :  6670.061119556427
time elapsed :  6670.208813667297
time elapsed :  6670.351469278336
time elapsed :  6670.502031326294
time elapsed :  6670.646677970886
time elapsed :  6670.7873294353485
time elapsed :  6670.931882143021
time elapsed :  6671.075719356537
time elapsed :  6671.225353240967
time elapsed :  6671.396864891052

In [81]:
user_game_df.head(25)

,user_idx,user_id,10,20,30,40,50,60,70,130,...,809320,575990,333690,803150,338630,436280,638850,581380,645450,774711
0,0,76561197960434624,32,3,6,0,52,58,412,1,...,0,0,0,0,0,0,0,0,0,0
1,1,76561198015158496,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,76561197972495328,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,76561198028573552,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,76561197970323424,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,5,76561198024402256,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,6,76561197968459472,40,106,0,0,0,9,0,35,...,0,0,0,0,0,0,0,0,0,0
7,7,76561197970565168,0,0,0,0,0,0,35,0,...,0,0,0,0,0,0,0,0,0,0
8,8,76561197980258576,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,9,76561198000175600,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,10,76561198007695232,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,11,76561198024187696,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,12,76561198404103072,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,13,76561197969918176,3,0,1,0,0,0,60,0,...,0,0,0,0,0,0,0,0,0,0
14,14,76561197961298544,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,15,76561198028537712,0,0,1,0,158,0,20,64,...,0,0,0,0,0,0,0,0,0,0
16,16,76561197960951088,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,17,76561197970110816,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,18,76561197978136976,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,19,76561197961963488,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,20,76561197964093968,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,21,76561197967653488,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,22,76561197975664864,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,23,76561197981702608,0,0,0,0,2,3,1,1,...,0,0,0,0,0,0,0,0,0,0
24,24,76561198053398528,211,0,54,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [79]:
user_game_df.to_csv("user_game.csv", mode='w')

## (3) Use collaborate filletering to make recommender  system