In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
data = pd.read_csv('./small_dataset.csv')

In [3]:
data.head(10)

,user_id,10,20,30,40,50,60,70,130,80,...,2600,6910,6920,7200,8400,4540,475150,4550,9180,2270
0,76561197960434600,32,3,6,0,52,58,412,1,0,...,41,50,1,136,0,532,39,1429,0,0
1,76561198015158400,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,76561197972495300,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,76561198028573500,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,76561197970323400,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,76561198024402200,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,76561197968459400,40,106,0,0,0,9,0,35,1,...,0,0,0,0,0,0,0,0,0,0
7,76561197970565100,0,0,0,0,0,0,35,0,0,...,0,28,0,0,0,0,0,0,0,0
8,76561197980258500,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,76561198000175600,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
pt = pd.pivot_table(data, index = 'user_id')

In [5]:
pt.head(10)

,10,100,1046930,1269260,130,1300,1309,1313,1520,20,...,620,6860,6910,6920,70,7200,730,80,8400,9180
user_id,,,,,,,,,,,,,,,,,,,,,
76561197960315600,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
76561197960317500,2146,886,0,0,412,0,0,0,0,978,...,629,0,0,0,4136,0,25,182,0,0
76561197960434600,32,0,115,14,1,0,0,0,27,3,...,1154,0,50,1,412,136,654,0,0,0
76561197960443100,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
76561197960951000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
76561197961298500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
76561197961963400,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
76561197964093900,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,4689,0,0,0
76561197966355200,75,287,0,0,48,0,0,0,0,255,...,561,0,0,0,273,0,12255,20,0,0
76561197967653400,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
pt = pt.T
#ITEM 기반으로

In [7]:
pt.head()

user_id,76561197960315600,76561197960317500,76561197960434600,76561197960443100,76561197960951000,76561197961298500,76561197961963400,76561197964093900,76561197966355200,76561197967653400,...,76561198129355000,76561198130282400,76561198138500400,76561198153350000,76561198278167300,76561198299558100,76561198404103000,76561198839854000,76561198882814900,76561198997565500
10,0,2146,32,0,0,0,0,0,75,0,...,0,34,0,0,0,0,0,0,338,0
100,0,886,0,0,0,0,0,0,287,0,...,0,0,0,0,0,0,0,0,0,0
1046930,0,0,115,0,0,0,0,0,0,0,...,0,0,0,0,0,24,0,0,537,0
1269260,0,0,14,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
130,0,412,1,0,0,0,0,0,48,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
cos = cosine_similarity(pt)
cos

array([[1.00000000e+00, 4.30112695e-02, 6.73418425e-03, ...,
        7.70343554e-02, 2.86803800e-05, 1.09941457e-04],
       [4.30112695e-02, 1.00000000e+00, 5.23181954e-05, ...,
        7.95747633e-01, 0.00000000e+00, 0.00000000e+00],
       [6.73418425e-03, 5.23181954e-05, 1.00000000e+00, ...,
        7.84386774e-04, 0.00000000e+00, 0.00000000e+00],
       ...,
       [7.70343554e-02, 7.95747633e-01, 7.84386774e-04, ...,
        1.00000000e+00, 4.42073377e-03, 4.42073377e-03],
       [2.86803800e-05, 0.00000000e+00, 0.00000000e+00, ...,
        4.42073377e-03, 1.00000000e+00, 0.00000000e+00],
       [1.09941457e-04, 0.00000000e+00, 0.00000000e+00, ...,
        4.42073377e-03, 0.00000000e+00, 1.00000000e+00]])

In [9]:
sim_with_game = pd.DataFrame(data = cos, index = pt.index, columns = pt.index)

In [10]:
sim_with_game.head()

,10,100,1046930,1269260,130,1300,1309,1313,1520,20,...,620,6860,6910,6920,70,7200,730,80,8400,9180
10,1.000000,0.043011,0.006734,0.000060,0.015266,0.000425,0.000000,0.000000,0.000220,0.053116,...,0.130373,0.003049,0.000159,0.000223,0.247466,0.306747,0.460083,0.077034,0.000029,0.000110
100,0.043011,1.000000,0.000052,0.000000,0.430666,0.000000,0.000000,0.000000,0.000586,0.659164,...,0.170131,0.041498,0.003634,0.000000,0.391859,0.000000,0.057167,0.795748,0.000000,0.000000
1046930,0.006734,0.000052,1.000000,0.921981,0.000128,0.008502,0.999753,0.999753,0.000013,0.001172,...,0.068778,0.000000,0.000081,0.000098,0.090509,0.000929,0.078217,0.000784,0.000000,0.000000
1269260,0.000060,0.000000,0.921981,1.000000,0.000342,0.007829,0.920582,0.920582,0.001181,0.002036,...,0.088161,0.000000,0.007113,0.009177,0.099494,0.087097,0.069008,0.000370,0.000000,0.000000
130,0.015266,0.430666,0.000128,0.000342,1.000000,0.000239,0.000000,0.000000,0.665885,0.389779,...,0.299621,0.122569,0.056112,0.236346,0.805341,0.000196,0.224723,0.339073,0.000000,0.000877

In [11]:
def recommend(title):
    return sim_with_game[title].sort_values(ascending=False)[:6]

In [12]:
get_game_tile = input("Input the game title that you want to be recommended to. \n We would show the games which other players playing much who play the input game\nInput : ")

Input the game title that you want to be recommended to.
 We would show the games which other players playing much who play the input game
Input : 20

In [13]:
recommend(get_game_tile)

20     1.000000
100    0.659164
70     0.485217
130    0.389779
80     0.194679
50     0.164275
Name: 20, dtype: float64